<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminform</title>
    <link rel="stylesheet" href="css/admin2.css">
</head>

<body>
    <div class="container">
        <form action="/upload" method="post">


            <label for="lname">BOOK Name</label>
            <input type="text" id="lname" name="bookname" placeholder="Your last name..">


            <label for="subject">BOOK DESCRIPTION</label>
            <textarea id="subject" name="bookdes" placeholder="Write something.." style="height:200px"></textarea>


            <button type="submit">Submit</button>

        </form>
    </div>
</body>

</html>